<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="pl">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.rental.header.add}">Form rental</title>
</head>
<body>
<div th:object="${rental}" th:remove="tag">
    <div class="row">

        <!-- Created -->
        <div th:if="${rental.created != null}" class="form-group col-md-4 col-xs-12">
            <label class="control-label" th:for="name">
                <span th:remove="tag" th:text="#{app.created}"></span>
            </label>
            <input th:field="*{created}" type="text" required="required"
                   class="form-control col-md-12 col-xs-12" th:id="name" id="name"
                   th:readonly="${rental.created != null}" />

        </div>

        <!-- RentFrom -->
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label" th:for="rentFrom">
                <span th:remove="tag" th:text="#{app.date.from}"></span>
                <span class="required">*</span>
            </label>
            <div class="input-group">
                <input th:field="*{rentFrom}" type="text"
                       class="form-control datetimepicker-input col-md-12 col-xs-12" th:id="rentFrom" id="rentFrom"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>

        </div>

        <!-- RentTo -->
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label" th:for="rentTo">
                <span th:remove="tag" th:text="#{app.date.to}"></span>
                <span class="required">*</span>
            </label>
            <div class="input-group">
                <input th:field="*{rentTo}" type="text"
                       class="form-control datetimepicker-input col-md-12 col-xs-12" th:id="rentTo" id="rentTo"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
   </div>

    <div th:if="${#fields.hasErrors('rentFrom')}" class="alert alert-danger">
        <div th:each="error : ${#fields.errors('rentFrom')}" th:text="${error}"></div>
    </div>

    <div th:if="${#fields.hasErrors('rentTo')}" class="alert alert-danger">
        <div th:each="error : ${#fields.errors('rentTo')}" th:text="${error}"></div>
    </div>

    <!-- Price -->
    <div class="form-group">
        <label class="control-label" th:for="price">
            <span th:remove="tag" th:text="#{app.rental.price}"></span>
            <span class="required">*</span>
        </label>
        <input type="number" th:field="*{price}" th:value="${rental.price != null ? rental.price : 0}" required="required"
               min="0" step="0.01" class="form-control col-md-12 col-xs-12" th:id="price" id="price"/>
    </div>
    <div th:if="${#fields.hasErrors('price')}" class="alert alert-danger">
        <div th:each="error : ${#fields.errors('price')}" th:utext="${error}"></div>
    </div>

    <!-- Status -->
    <div class="form-group">
        <label for="rentalStatus">
            <span th:text="#{app.rental.status}">Status</span>
        </label>
        <select id="rentalStatus" name="rentalStatus" class="form-control">
            <option th:value="0" th:text="#{app.rental.status.list}"> Wybierz status</option>
            <option th:each="status : ${allStatuses}" th:value="${status.name()}"
                    th:text="#{${'app.rental.status.' + status.name()}}"
                    th:selected="${rental.rentalStatus == status}">
            </option>
        </select>
    </div>

    <!-- Items -->
    <div class="form-group">
        <label for="items">
            <span th:text="#{app.item.list}">Items</span>
        </label>
        <select id="items" name="item.id" class="form-control">
            <option th:value="0" th:text="#{app.item.choose}">Wybierz przedmiot</option>
            <option th:each="item : ${items}"
                    th:value="${item.id}"
                    th:text="${item.name}"
                    th:selected="${rental.item != null and item.id == rental.item.id}">
            </option>
        </select>

    </div>

    <!-- Submit -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
        <a th:href="@{/rental/list}" th:text="#{app.button.back}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>