<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="pl">
<head>
    <meta charset="UTF-8">
    <title th:fragment="pageTitle" th:text="#{app.rental.list}">Rental list</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">

        <div class="col-md-9">
            <h2 th:text="#{app.rental.header}"></h2>
        </div>
        <div class="col-md-3 text-right">
            <a th:href="@{/user/item/add}" class="btn btn-success align" th:text="#{app.item.button.add}"></a>
        </div>
    </div>
    <table th:class="table">
        <thead>
        <tr>
            <th th:text="#{app.id}">
            <th th:text="#{app.created}">
            <th th:text="#{app.rental.date}">
            <th th:text="#{app.rental.price}">
            <th th:text="#{app.rental.status}">
            <th th:text="#{app.item.name}">
            <th th:text="#{app.item.description}">
            <th th:text="#{app.action}" th:colspan="2" th:align="right">
        </tr>
        </thead>
        <tbody>

        <tr th:each="rental, status : ${rentals}">
            <td th:text="${status.index + 1}"></td>
            <td th:text="${#temporals.format(rental.created, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:utext="'Od: ' + ${#temporals.format(rental.rentFrom, 'dd-MM-yyyy HH:mm')} + '<br>Do: ' + ${#temporals.format(rental.rentTo, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${rental.price != null ? rental.price : 0} + ' PLN'"></td>
            <td th:text="#{${'app.rental.status.' + rental.rentalStatus}}"></td>

            <!-- Item -->
            <td th:if="${rental.item != null}" th:text="${rental.item.name}"></td>
            <td th:if="${rental.item != null}" th:text="${rental.item.description}"></td>

            <td th:align="right">
                <!-- Warunkowe wyświetlanie przycisku "Wynajmij/Lease" -->
                <a th:if="${currentUser != null and rental.item.owner.id != currentUser.user.id}"
                   th:href="@{/user/rental/lease/{id}(id=${rental.id})}"
                   th:text="#{app.rental.button.lease}"
                   class="btn btn-primary">Lease</a>

                <!-- Przekierowanie do logowania, jeśli użytkownik nie jest zalogowany -->
                <a th:if="${currentUser == null}"
                   th:href="@{/login}"
                   th:text="#{app.rental.button.lease}"
                   class="btn btn-primary">Lease</a>

                <!--<td th:align="right">
                    <a th:if="${rental.item.owner.id != currentUser.user.id}"
                       th:href="@{/user/rental/lease/{id}(id=${rental.id})}" th:text="#{app.button.lease}"
                       class="btn btn-primary">Lease</a>
                </td>-->
            </td>

        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Potwierdzenie usunięcia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Czy na pewno chcesz usunąć ten Wynajem?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <a id="deleteLink" class="btn btn-danger" href="">Tak, usuń</a>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>