<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="pl">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.item.header.add}">Form item</title>
</head>
<body>
<div th:object="${item}" th:remove="tag">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" th:for="name">
                        <span th:remove="tag" th:text="#{app.item.name}">Item name</span>
                        <span class="text-danger required">*</span>
                    </label>
                    <input th:field="*{name}" type="text" required="required"
                           class="form-control col-md-12 col-xs-12" th:id="name" id="name"/>
                </div>
                <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger">
                    <div th:each="error : ${#fields.errors('name')}" th:utext="${error}"></div>
                </div>
                <!-- Description -->
                <div class="form-group">
                    <label class="control-label" th:for="textarea">
                        <span th:remove="tag" th:text="#{app.item.description}">Item description</span>
                        <span class="required">*</span>
                    </label>
                    <textarea th:field="*{description}" maxlength="600" rows="4" cols="50"
                              class="form-control col-md-12 col-xs-12"></textarea>
                </div>

                <div th:if="${#fields.hasErrors('description')}" class="alert alert-danger">
                    <div th:each="error : ${#fields.errors('description')}" th:utext="${error}"></div>
                    <div th:if="*{description != null}">
                        <span th:utext="#{app.charCount.message}"></span>
                        <span th:text="${#strings.length(item.description)}" th:class="font-weight-bold"></span>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col-md-6">

                <!--<div class="form-group" th:if="${item.imageUrl != null and item.imageUrl != ''}">-->
                    <div class="form-group">
                    <label class="control-label">Podgląd obrazu</label>
                    <div class="image-preview-container" style="border: 1px solid #ddd; padding: 10px;text-align: center">
                        <img id="imagePreview" th:if="${imageUrl}" th:src="${imageUrl}" alt="Wybrany obraz"
                             style="max-width: 100%; height: auto;" >
                    </div>
                </div>


                <!-- Image Upload -->
                <div class="form-group">
                    <label for="file" class="control-label">
                        <span>Wybierz obraz</span>
                        <span class="text-danger required">*</span>
                    </label>
                    <input type="file" id="file" name="file" class="form-control-file" accept="image/*"
                           onchange="displayImage(this)" style="display: none;">
                    <button type="button" class="btn btn-primary"
                            onclick="document.getElementById('file').click();">Wybierz obraz
                    </button>
                </div>

            </div>
        </div>

        <div class="row clear">
            <div class="col-md-12">
                <!-- Category -->
                <div class="form-group">
                    <label for="category">Wybierz kategorię:</label>
                    <select id="category" name="category" class="form-control">
                        <option th:value="0" th:text="#{app.category.list}"></option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                                th:selected="${item.category != null and category.id eq item.category.id}"></option>
                    </select>
                </div>

                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
                    <a th:href="@{/user/item/list}" th:text="#{app.button.back}" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>